.todo-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
}

.todo-item {
  width: 14rem;
  height: 8rem;
  box-shadow: 0 20px 20px -10px gray;
  text-align: center;
  border-radius: 6px;
}